<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device=width, initial-scale=1" />
    <title>Mercado Liebre</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="/css/forms.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <a href="/"
          ><img src="/images/logo-mercado-liebre.svg" class="logo"
        /></a>
        <div class="search-bar w-50">
          <input type="text" placeholder="Buscar...">
          <button>
              <i class="fas fa-search"></i>
          </button>
      </div>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de credito
        </h2>
      </div>

      <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </a>

      <nav class="nav-bar">
        <ul class="left-nav">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-nav">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fas fa-credit-card"></i>
            </a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a>
          </li>
          <li>
            <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i> </a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="home-banner">
      <img src="/images/img-home-banner.jpg" class="w-100" alt="" />
    </section>
    <main class="container">
      <section class="pv">
        <h2 class="font-heading">Basado en tu última visita</h2>
        <section class="article-container">
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Cafetera Moulinex</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Macbook Pro 2019</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Samsung Galaxy S10</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Samsung Smart TV</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Cafetera Moulinex</h3>
              </div>
            </article>
          </div>
        </section>
      </section>
      <section class="pv">
        <h2 class="font-heading">Seccion de Ofertas</h2>
        <section class="article-container">
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Cafetera Moulinex</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Macbook Pro 2019</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Samsung Galaxy S10</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Samsung Smart TV</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="product-content">
                <i
                  class="
                    fas
                    fa-truck
                    truck-icon
                    text-green
                    b
                    border-green
                    font-medium
                    p
                  "
                ></i>
                <p class="price font-medium">$ 6.770</p>
                <p class="discount text-green font-medium">40% OFF</p>
                <h3 class="description font-large">Cafetera Moulinex</h3>
              </div>
            </article>
          </div>
        </section>
      </section>
    </main>

    <footer class="container-footer">
      <div class="wrapper-footer">
        <div class="article-footer">
          <i class="fas fa-credit-card icon-footer"></i>
          <p class="title-footer">Pagá con tarjeta o en efectivo</p>
          <p class="p-footer">
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta de
            credito o efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>

        <div class="article-footer">
          <i class="fas fa-gift icon-footer"></i>
          <p class="title-footer">Envío gratis desde los $2.500</p>
          <p class="p-footer">
            Solo por estar registrado en Mercado Liebre tenés envios gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>

        <div class="article-footer">
          <i class="fas fa-user-shield icon-footer"></i>
          <p class="title-footer">Seguridad de principios a fin</p>
          <p class="p-footer">
            ¿No te gusta?¡Devolvelo! En MercadoLiebre no hay duda que no puedas
            hacer porque estas siempre protegid@.
          </p>
        </div>

        <p class="p-footer text-left pt">
          Copyright © 1999-2020 MercadoLiebre S.R.L
        </p>
      </div>
    </footer>
  </body>
</html>
