/*HEADER*/
.main-header{
  background-color: #eac926;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0px;
}

.logo{
  width: 200px;
}

.nav-bar{
  display: none;
}

.copy-header{
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  padding: 3px 0px;
}
.main-header-top-bar .search-bar {
  display: flex;
  padding: 10px;
  justify-content: center;
  position: relative;
  height: 45px;
}

.main-header-top-bar .search-bar input {
  border-radius: 5px;
  flex-grow: 1;
  background-color: white;
  border: none;
  max-width: 400px;
}

.main-header-top-bar .search-bar button {
  position: absolute;
  background-color: white;
  border: none;
  right: 12px;
  font-size: 20px;
}

.hamburguer-button{
  background-color: #03264c;
  color: white;
  display: block;
  margin: auto;
  max-width: 50px;
  padding: 15px 0;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar a{
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 2px 0;
  font-size: 17px; 
}

/*MAIN*/
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.p {
  padding: 16px;
}

.pt {
  padding-top: 16px;
}

.pv {
  padding-top: 16px;
  padding-bottom: 16px;
}

.b {
  border-width: 1px;
  border-style: solid;
}

.text-center {
  text-align: center;
}

.text-left{
  text-align: left;
}

.home-banner{
  margin-top: 192px;
}

@media(min-width: 425px){
  .home-banner{
    margin-top: 172px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.wrapper{
  width: 100%;
  padding: 10px;
}

.article-container{
  display: flex;
  flex-wrap: wrap;
}
.product {
  margin: 15px 0;
  background-color: white;
  
}

.product .product-content {
  padding: 15px;
  border-top: 1px solid #ebebeb;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.product .product-content .price{
  width: 30%;
  padding-bottom: 8px;
}

.product .product-content .discount {
  width: 70%;

}

.product .truck-icon {
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: -15px;
  background-color: white;
  color: green;
  
}

.circle {
  background-color:#fff;
  border:1px solid red;    
  height:100px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:100px;
}


/* footer */

.container-footer{
  width: 95%;
  height: 90%;
  margin: 8px auto;
  text-align: center;
}

.wrapper-footer{
  padding: 15px 10px;
  background-color: white;
}

.wrapper-footer .title-footer{
  font-weight: 500;
  font-size: 16px;
  color: black;
  padding-bottom: 2px;
}

.article-footer{
  padding: 30px 15px;
  text-align: center;
  
}

.wrapper-footer .p-footer{
  color: #666;
  font-size: 12px;
}

.icon-footer{
  color: blue;
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}

